<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%C:%L] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="../logs/retro.log"
                                 filePattern="../logs/$${date:yyyy-MM}/NLP-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%highlight{%d [%t] %p: %msg%n%throwable}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="error" additivity="false" includeLocation="false">
            <AppenderRef ref="RollingRandomAccessFileNLP"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="retro" level="error" additivity="false" includeLocation="false">
            <AppenderRef ref="RollingRandomAccessFile"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="error" includeLocation="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>